html, body {
  height: 100%;
}
html {
  width: 100%;
}
body {
  background-color: #151010;
  margin: 0;  /* remove browser auto-margin */
  font-family: sans-serif;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 660px;
}
pre {
  background-color: #999966;
  border: groove 5px #904723;
  border-radius: 12px;
  padding: 5px;
  letter-spacing: 1px;
  font-family: monospace;
  cursor: pointer;
}
pre > span {
  display: inline-block;
  width: 8.65px; /* prevents certain chars from breaking monospace */
  /*overflow-x: hidden;*/
}
pre > span:hover {
  outline: 1px solid white;
}
pre > #tracked {
  outline: 1px solid red;
}

.water {
  color: blue;
}
.beach {
  color: orange;
}
.protozoan {
  color: pink;
}
.rainforest {
  color: #1a421f;
}
.plant {
  color: darkgreen;
}
.herbivore {
  color: yellow;
}
.carnivore {
  color: red;
}

#control_panel {
  color: #b0acac;
  margin-bottom: 10px;
  display: none;
}
#control_panel > * {
  vertical-align: middle;
}
#control_panel > label {
  font-size: 0.9em;
  margin-left: 20px;
}
#steps_per_sec {
  margin-right: 20px;
  font-family: monospace;
  font-size: 1.1em;
}
button {
  cursor: pointer;
  border: none;
}
#button_container {
  display: inline-block;
  width: 215px;
}
#button_container > button {
  background-color: black;
  outline: 1px solid #904723;
  color: #b0acac;
  padding: 8px 16px;
  margin: 5px 20px 5px 0;
  width: 82px;
}
#button_container > button:hover {
  outline-width: 2px;
}
#button_container > button:active {
  color: white;
}
#button_container > button[disabled] {
  background-color: #151010;
  color: #868181;
  cursor: default;
}
#button_container > button[disabled]:hover {
  outline-width: 1px;
}
#tracker_display {
  display: inline-block;
  width: 40px;
  height: 45px;
  margin-left: 10px;
  margin-right: 30px;
  background-color: #999966;
  border: solid 2px #904723;
  padding-top: 4px;
  font-family: monospace;
  font-size: 35px;
  cursor: default;
}
#control_panel > table {
  display: inline-block;
  font-size: 0.8em;
  text-align: left;
}
#control_panel > table th {
  padding-right: 10px;
}
#control_panel > table td {
  width: 90px;
}

#toggle_ctrls {
  margin-top: 10px;
  background-color: #151010;
  outline: none;
  width: 152px;
  padding: 8px 10px;
  color: #904723;
}
#toggle_ctrls:hover {
  outline: 1px solid #904723;
  background-color: black;
}
