$border-color: #904723;
$text-color: #b0acac;
$backdrop-color: #999966;

#evolife {
  display: inline-block;
  text-align: center;
  border: groove 5px $border-color;
  border-radius: 12px;
  overflow: hidden; // so border radius is not covered
}

#world {
  border-bottom: groove 2px $border-color;

  pre {
    background-color: $backdrop-color;
    padding: 5px;
    margin: 0;
    letter-spacing: 1px;
    font-family: monospace;
    cursor: pointer;

    > span {
      display: inline-block;
      width: 8.65px; /* prevents certain chars from breaking monospace */
      font-size: 13px;
      line-height: 15px;

      &:hover {
        outline: 1px solid white;
      }
      &#tracked {
        outline: 1px solid red;
      }
    }
  }
}

.water {
  color: blue;
}
.beach {
  color: orange;
}
.protozoan {
  color: pink;
}
.rainforest {
  color: #1a421f;
}
.plant {
  color: darkgreen;
}
.herbivore {
  color: yellow;
}
.carnivore {
  color: red;
}

#control_panel {
  padding: 12px 0;
  background-color: #151010;
}

#controls_wrapper {
  color: $text-color;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s, opacity 0.3s;

  > * {
    vertical-align: middle;
  }
  > label {
    font-size: 0.9em;
  }
  #steps_per_sec {
    margin-right: 20px;
    font-family: monospace;
    font-size: 1.1em;
  }
  #speed_ctrl_container {
    display: inline-block;
    width: 215px;
    > .ctrl_button {
      margin: 5px 20px 5px 0;
    }
  }
  .ctrl_button {
    background-color: black;
    outline: 1px solid $border-color;
    color: inherit;
    padding: 8px 16px;
    width: 82px;

    &:hover {
      outline-width: 2px;
    }
    &:active {
      color: white;
    }
    &[disabled] {
      background-color: #151010;
      color: #868181;
      cursor: default;
    }
    &[disabled]:hover {
      outline-width: 1px;
    }
  }

  #kill_switch_container {
    display: inline-block;
    width: 120px;
    margin-right: 40px;
    padding: 5px;
  }
  #kill_switch_container > select {
    padding: 5px;
    margin-bottom: 12px;
    background-color: inherit;
    color: inherit;
    border: solid 1px $text-color;
  }
  #kill_switch_container option {
    background-color: #151010;
  }

  #tracker_display {
    display: inline-block;
    width: 40px;
    height: 45px;
    margin-left: 10px;
    margin-right: 30px;
    background-color: $backdrop-color;
    border: solid 2px $border-color;
    padding-top: 4px;
    font-family: monospace;
    font-size: 35px;
    cursor: default;
  }
  > table {
    display: inline-block;
    font-size: 0.8em;
    text-align: left;

    th {
      padding-right: 10px;
    }
    td {
      width: 80px;
    }
    td.last_col {
      width: 40px;
    }
  }
}

button {
  cursor: pointer;
  border: none;
  -moz-outline-radius: 6px;
}
#toggle_ctrls {
  background-color: inherit;
  outline: none;
  padding: 8px 10px;
  color: $border-color;

  &:hover {
    outline: 1px solid $border-color;
    background-color: black;
  }
}
